/*@define-color label #8A8A8D;
@define-color border-color #8A8A8D;
@define-color image #8A8A8D;
@define-color progress #8A8A8D;
 * */
@define-color background-color #000000;
@define-color label #ffffff;
@define-color border-color #ffffff;
@define-color image #ffffff;
@define-color progress #ffffff;


window {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
}

label {
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 15px;
}

progress {
  background-color: @progress;
  border-radius: 15px;
}
